In [0]:
from pyspark.sql.types import StructType,StructField,StringType,IntegerType
data = [(1,'Manoj',3000),
        (2,'Megha',4000),
        (3,'Manasa',3800),
        (4,'Naveen',4000)]
schema = StructType().add(field = 'Id', data_type = IntegerType())\
                  .add(field= 'Name', data_type = StringType())\
                    .add(field= 'Salary',data_type = IntegerType())

df = spark.createDataFrame(data = data,schema = schema)
df.show()
df.printSchema()

+---+------+------+
| Id|  Name|Salary|
+---+------+------+
|  1| Manoj|  3000|
|  2| Megha|  4000|
|  3|Manasa|  3800|
|  4|Naveen|  4000|
+---+------+------+

root
 |-- Id: integer (nullable = true)
 |-- Name: string (nullable = true)
 |-- Salary: integer (nullable = true)

In [0]:
data = [(1,'Manoj',3000),
        (2,'Megha',4000),
        (3,'Manasa',3800),
        (4,'Naveen',4000)]

columns = StructType([StructField (name ='Id',dataType = IntegerType()) ,
                     StructField(name= 'Emp_Name', dataType =StringType()),
                     StructField (name = 'Salary', dataType =IntegerType())])
df = spark.createDataFrame(data = data, schema = columns)
df.show()

+---+--------+------+
| Id|Emp_Name|Salary|
+---+--------+------+
|  1|   Manoj|  3000|
|  2|   Megha|  4000|
|  3|  Manasa|  3800|
|  4|  Naveen|  4000|
+---+--------+------+

In [0]:
from pyspark.sql.types import StructType,StructField,StringType,IntegerType
data = [(1,('Manoj','Mandhapati'),3000),
        (2,('Megha','Mandhapati'),4000),
        (3,('Manasa','Mandhapati'),3800),
        (4,('Naveen','Jaggavarapu'),4000)]

structName = StructType().add(field = 'FirstName', data_type = StringType())\
                        .add(field = 'LastName',data_type = StringType())
schema = StructType().add(field = 'Id', data_type = IntegerType())\
                  .add(field= 'Name', data_type = structName)\
                    .add(field= 'Salary',data_type = IntegerType())

df = spark.createDataFrame(data = data,schema = schema)
display(df)
df.printSchema()

Id,Name,Salary
1,"List(Manoj, Mandhapati)",3000
2,"List(Megha, Mandhapati)",4000
3,"List(Manasa, Mandhapati)",3800
4,"List(Naveen, Jaggavarapu)",4000

root
 |-- Id: integer (nullable = true)
 |-- Name: struct (nullable = true)
 |    |-- FirstName: string (nullable = true)
 |    |-- LastName: string (nullable = true)
 |-- Salary: integer (nullable = true)