In [0]:
from pyspark.sql.functions import col,lit
data = [(1,'Manoj',3000),
        (2,'Megha',4000),
        (3,'Manasa',3800),
        (4,'Naveen',4000)]
columns = ['Id','Name','Salary']

df = spark.createDataFrame(data = data, schema = columns)
df.show()

+---+------+------+
| Id|  Name|Salary|
+---+------+------+
|  1| Manoj|  3000|
|  2| Megha|  4000|
|  3|Manasa|  3800|
|  4|Naveen|  4000|
+---+------+------+

In [0]:
df1 = df.withColumn('Salary',col('Salary').cast('Integer')) #chaging the column type
df2 = df1.withColumn('Salary',col('Salary')*2) # updating the salary column
df3 = df2.withColumn('Country',lit('India')) #creating new column and adding values
df4 = df3.withColumn('CopiedSalary',col('Salary')) # creating a new column with the existing data.

In [0]:
df4.show()

+---+------+------+-------+------------+
| Id|  Name|Salary|Country|CopiedSalary|
+---+------+------+-------+------------+
|  1| Manoj|  6000|  India|        6000|
|  2| Megha|  8000|  India|        8000|
|  3|Manasa|  7600|  India|        7600|
|  4|Naveen|  8000|  India|        8000|
+---+------+------+-------+------------+